<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Work+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {# {{ content | safe }} #}
    {# <div class="container">
      <h1>Tempor incididunt ut labore et dolore magna aliqua</h1>
      <h2>Tempor incididunt ut labore et dolore magna aliqua</h2>
      <h3>Tempor incididunt ut labore et dolore magna aliqua</h3>
      <h4>Tempor incididunt ut labore et dolore magna aliqua</h4>
      <p class="lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata.
      </p>
      <p class="sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata.
      </p>
      <small>Lorem ipsum dolor sit amet</small>
    </div> #}
        <div class="hero">
          <div class="copy">
            <h2>
              Life is complicated.</br>
              Design shouldn't be.
            </h1>
            <p>Great design solves problems; it doesn't create more of them. With a long-standing career in UI/UX design, front-end development, and copywriting, I have made it my passion to translate complex ideas into simple, intuitive experiences. </p>
          </div>
          <div class="skills">
            <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
          </div>
          <div class="divide">
            <img src="assets/svg/shapes/waves-opacity.svg" class="svg" /> 
          </div>
          <div class="illustration">
            <img src="assets/svg/illustration/sitting-with-computer.svg" class="svg" />  
          </div>
      </div>
      <section class="section">
        <div class="section-content"><p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p></div> 
      </section>
  </body>
</html>
