<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ eleventyComputed.alias| safe if eleventyComputed.alias else title }} </title>
    <link rel="icon" href="{{faviconSrc}}/favicon.ico" sizes="any">
    <link rel="icon" href="{{faviconSrc}}/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{faviconSrc}}/apple-touch-icon.png">
    <link rel="manifest" href="{{faviconSrc}}/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main id="Main_Content">
      {{content | safe}}
    </main>
    {% if not '/contact' in page.url %}
      {% include "partials/footer.njk" %}
    {% endif %}
  </body>
</html>
