<h2 class="text-4xl text-adorn-2 mb-6">Featured Projects</h2>
<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
  {% for project in collections.projects  %}
    {% if project.data.featured == true %}
      {% include "../partials/project-snippet.njk" %}
    {% endif %}
  {% endfor %}
</div>