<h2 class="text-4xl text-adorn-1 mb-12">Hobbies &amp; Fun</h2>
<div class="grid grid-cols-3 gap-12">
  {% for hobby in static.hobbies %}
    <div class="flex align-center gap-x-6">
      <img src="{{illustrationSrc}}/{{hobby.image}}" alt="{{hobby.imgAlt}}" class="w-12">
      <div>
        <h4 class="text-xl">
          {{hobby.title}}
        </h4>
        <p class="text-sm"> 
          {{hobby.text}}
        </p>
      </div>
    </div>
  {% endfor %}
</div>