---
title: About
order: 2
eleventyComputed:
  alias: About me
---
<section class="grid grid-cols-section-slim lg:grid-cols-section bg-slate-100">
  <div class="col-start-2 col-span-1">
    {% include "partials/bio.njk" %}
  </div>
</section>
<section class="grid grid-cols-section-slim lg:grid-cols-section lg:divide-t bg-slate-50">
  {%- from 'macros/divide.njk' import divide %}
  {{ divide({text: "top-0"}, { text: "fill-marine" }, { text: "fill-slate-100" }, {text: "rotate-0"}) }} 
  <div class="col-start-2 col-span-1">
    {% include "areas/skills.njk" %}
  </div>
</section>
<section class="grid grid-cols-section-slim lg:grid-cols-section bg-slate-100">
  <div class="col-start-2 col-span-1">
    {% include "areas/hobbies.njk" %}
  </div>
</section>