.section {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: auto; 
  grid-template-areas: 
  ". content .";
  background: #ddd;
}

.section-content {
  grid-area: content;
  background: #ccc;
}