@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gutter-slim: 5%;
    --gutter: 10%;
    --gutter-wide: 20%;
  }
  body {
    @apply font-primary leading-6;
    @media (3xl) {
      color: red!important
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-secondary leading-4;
  }

  h1, h2, h3, h4 {
    @apply tracking-tight;
  }

  .text-adorn-1,
  .text-adorn-2,
  .text-adorn-3 {
    @apply inline-block relative;
  }

  .text-adorn-1::before,
  .text-adorn-2::before,
  .text-adorn-3::before {
    content: '';
    @apply w-1/4 h-1 inline-block absolute -top-2 left-0 rounded-sm
  }

  .text-adorn-1::before {
    @apply bg-pink-500
  }
  .text-adorn-2::before {
    @apply bg-green-500
  }
  .text-adorn-3::before {
    @apply bg-blue-500
  }

  [class*="adorn"].text-center {
    @apply block
  }

  [class*="adorn"].text-center::before {
    @apply w-14 left-1/2 -translate-x-1/2
  }
}

@layer components {

  /* Firefox gap render fix */

  @-moz-document url-prefix() {
    .ff-subpixel-fix::before {
      content: '';
      width: 2px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      @apply bg-white;
    }
  }

  /* Section Styles */
  .grid-cols-hero {
    @apply relative
  }

  [class*="grid-cols-section"] {
    @apply relative py-20
  }

  .divide-t {
    @apply pt-32
  }

  .divide-b {
    @apply pb-32
  }

  /* Button style */

  .btn-f, 
  .btn-o {
    @apply py-3 px-6 rounded text-xs font-secondary font-bold uppercase tracking-widest border-pink-500 border-2 border-solid;
  }

  .btn-f:disabled, 
  .btn-o:disabled {
    @apply bg-slate-200 border-0 text-slate-500;
  }

  .btn-f {
    @apply bg-pink-500 text-white;
  }

  .btn-f:hover {
    @apply bg-pink-600 border-pink-600;
  }

  .btn-o {
    @apply text-pink-500;
  }

  .btn-o:hover,
  .btn-o:focus {
    @apply bg-pink-100;
  }

  .btn-o:focus {
    
    @apply ring-inset;
  }
}