---
title: My Portfolio Site
layout: layouts/base.njk
---
{% include "partials/hero.njk" %}
<section class="grid grid-cols-section-slim lg:grid-cols-section bg-slate-100">
  <div class="col-start-2 col-span-1">
    {% include "areas/featured.njk" %}
  </div>
</section>
<section class="grid grid-cols-section-slim lg:grid-cols-section lg:divide-t bg-slate-200">
  {%- from 'macros/divide.njk' import color %}
  {{ color({text: "top-0"}, { text: "fill-marine" }, { text: "fill-slate-100" }, {text: "rotate-0"}) }} 
  <div class="col-start-2 col-span-1 lg:pt-20">
    {% include "areas/experiments.njk" %}
  </div>
</section>