---
title: My Portfolio site
layout: "base.njk"
---
<div class="hero">
    <div class="copy">
      <h2>
        Life is complicated.</br>
        Design shouldn't be.
      </h1>
      <p class="p-6">Great design solves problems; it doesn't create more of them. With a long-standing career in UI/UX design, front-end development, and copywriting, I have made it my passion to translate complex ideas into simple, intuitive experiences. </p>
    </div>
    <div class="skills">
      <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
    </div>
    <div class="divide">
      <img src="assets/svg/shapes/waves-opacity.svg" class="svg" /> 
    </div>
    <div class="illustration">
      <img src="assets/svg/illustration/sitting-with-computer.svg" class="svg" />  
    </div>
</div>
<section class="section">
  <div class="section-content"><p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
  <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p></div> 
</section>
