<div class="h-[var(--heading-height)] grid grid-cols-nav-slim lg:grid-cols-nav items-center py-5 bg-white border-b border-slate-200 border-solid">
  <div class="col-start-2 col-span-1">
    {% include "./logo.njk" %}
  </div>
  <div class="col-start-3 col-end-5 md:col-end-4 col-span-1">
    {% include "./nav.njk" %}
  </div>
  <div class="hidden md:block col-start-4 col-span-1">
    {% include "./social.njk" %}
  </div>
</div>