<div class="grid 3xl:h-screen grid-cols-hero-slim lg:grid-cols-hero auto-cols-max overflow-x-clip z-10">
    <div class="col-start-2 col-end-4 lg:col-end-3 col-span-1 self-center bg-white pr-[5%] lg:pr-0 pt-12 lg:pt-24 pb-12">
      <h1 class="text-5xl xl:text-6xl mb-3 lg:mb-6">
        <span class="block font-medium text-gray-500">Life is complicated.</span>
        <span class="block">Technology shouldn't be.</span>
      </h1>
      <p class="text-md xl:text-lg mb-6 3xl:mr-44">Great design solves problems; it doesn't create more of them. With a long-time career in UI/UX design, front-end development, and copywriting, I have made it my passion to translate complex ideas into simple, intuitive experiences. </p>
      <div class="flex space-x-4">
        <a href="{{ '/projects/' | url }}" class="btn-f">View Projects</a>
        <a href="{{ '/contact/' | url }}" class="btn-o">Get in Touch</a>
      </div>    
    </div>
    <div class="col-start-2 col-end-4 lg:col-end-3 col-span-1 bg-white pr-[5%] lg:pr-0">
      <div class="flex border-t border-slate-200 border-solid py-12 gap-12">
          {% for skill in static.skills %}
            <div class="flex-1 lg:basis-5/12 xl:basis-4/12">
              <h4 class="text-xl text-adorn-{{loop.index}} font-semibold mb-1">
                {{skill.name}}
              </h4>
              <ul class="space-y-1">
                {% for item in skill.list %}
                  <li class="text-sm line-clamp-1">
                    {{item}}
                  </li>
                {% endfor %}
              </ul>
          </div>
          {% endfor %}
      </div>
    </div>
    <div class="hidden lg:block relative col-start-3 col-span-2 row-start-1 row-span-2 bg-slate-500">
        <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 1200" class="absolute h-full top-0 left-0 z-10">
          <g id="Layer_2-2">
            <path id="_5" d="M180,1200h50.5c24.21-47.8,35.12-103.6,30.54-158-5.89-70.4-36.32-136.3-40.9-206.8-4.8-73.9,18.43-147.6,38.5-218.2,19.63-69.3,27.16-138.3,14.29-209.4-6.54-36.2-19.41-69.8-31.96-104.5C207.27,210.5,164.4,87,237.26,0h-57.26V1200Z" fill="#fff" isolation="isolate" opacity=".25"/>
            <path id="_0" d="M180,1200h17.23c23.01-13,44.83-27.6,61.3-47.7,42.76-51.7,42.43-117.29,21.27-176.89-11.02-31.1-28.36-60.09-43.3-89.69-20.72-40.9-50.17-84.69-54.21-130.79-3.05-36.3,10.25-70.89,34.47-98.59,27.7-31.8,67.62-62.29,79.62-103.59,11.78-40.4-7.31-81.29-26.5-119.09-19.2-37.8-42.54-75.19-46.9-116.89-6.44-59.8,24.87-113.39,42.32-168.99,9.49-30.2,6.76-59-8.18-87.09C245.23,38.29,227.78,12.69,203.46,0h-23.45V1200h-.01Z" fill="#fff" isolation="isolate" opacity=".5"/>
            <path id="_00" d="M0,1200H186.11c58.24-149.9,71.66-314.1,40.36-475.8-8.29-43-21.92-84.2-28.9-127.6-9.38-59,13.31-112.5,38.61-165.6,28.03-58.9,47.66-117,41.99-182.2-7.64-86.5-49.85-172.5-92.5-248.8H0V1200Z" fill="#fff"/>
          </g>
        </svg>
      <img src="{{illustrationSrc}}/sitting-with-computer.svg" class="hidden lg:block absolute bottom-[-2rem] right-[-6rem] z-20" />  
    </div>
</div>