<a href="/" class="text-lg font-secondary uppercase">
  <span class="block md:hidden">
    <span class="text-pink-500 font-extrabold">N</span><span class="text-slate-900">B</span>
  </span>
  <span class="hidden md:block">
    <span class="text-pink-500 font-extrabold">Nichole</span><span class="text-slate-900">Baiel</span>
  </span>
</a>