<ul class="flex justify-end md:justify-center gap-6 md:gap-16">
  {% for item in collections.navigation %}
    <li>
      <a href="{{item.url | url}}" class="relative hover:nav-animation">{{item.data.alias}}</a>
    </li>
  {% endfor %}
</ul>