<div class="space-y-4">
  {% if project.data.notready == true %}
    <img src="{{imgSrc}}/{{project.data.mainImg}}" class="w-full rounded shadow-lg" alt="{{project.data.mainImageAlt}}" />
  {% else %}
  <a href="{{project.url}}">
    <img src="{{imgSrc}}/{{project.data.mainImg}}" class="w-full rounded shadow-lg" alt="{{project.data.mainImageAlt}}" />
  </a>
  {% endif %}
  {% if (project.data.featured == true) %}
    <div class="flex flex-wrap gap-3">
      {% for role in project.data.roles %}
        <span class="text-xs uppercase text-slate-500 xl:py-2 xl:px-4 xl:bg-slate-200 xl:rounded">#{{role}}</span>
      {% endfor %}     
    </div>
  {% endif %}
  <div class="space-y-1">
    {% if project.data.notready == true %}
      <h3 class="text-2xl font-semibold line-clamp-1">
        {{project.data.title}}
      </h3>
    {% else %}
      <h3 class="text-2xl font-semibold">
        <a href="{{project.url}}">
          {{project.data.title}}
        </a>
      </h3>
    {% endif %}
    <p class="text-base line-clamp-4">
      {{project.data.description}}
    </p>
  </div>
  {% if project.data.notready == true %}
  <div class="flex items-center space-x-2 text-slate-500">
    <svg class="h-4 w-4" viewBox="0 0 24 24">
      <path fill-rule="evenodd" d="M11.4819568,10.0677432 C11.6471834,10.0235573 11.8208407,10 12,10 C13.1045695,10 14,10.8954305 14,12 C14,13.1045695 13.1045695,14 12,14 C10.8954305,14 10,13.1045695 10,12 C10,11.8208407 10.0235573,11.6471834 10.0677432,11.4819568 L6.29289322,7.70710678 L7.70710678,6.29289322 L11.4819568,10.0677432 Z M13,3.05492878 L13,7 L11,7 L11,1 L12,1 C18.0751322,1 23,5.92486775 23,12 C23,18.0751322 18.0751322,23 12,23 C5.92486775,23 1,18.0751322 1,12 C1,9.03657516 2.17863997,6.25738075 4.23642055,4.20725745 L5.64799552,5.62410469 C3.9631621,7.30266862 3,9.57377327 3,12 C3,16.9705627 7.02943725,21 12,21 C16.9705627,21 21,16.9705627 21,12 C21,7.36744635 17.4999505,3.55237307 13,3.05492878 Z" class="fill-slate-500"/>
    </svg>

    <span class="text-sm  font-bold uppercase tracking-widest">Coming Soon</span>
  </div> 
  {% else %}
    <a href="{{project.url}}" class="flex items-center space-x-2 text-pink-500 group">
      <svg class="h-4 w-4 ease-in-out duration-300 group-hover:translate-x-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
      <span class="text-sm font-bold uppercase tracking-widest">View Project</span>
    </a>
  {% endif %}
  
</div>